<div class="splashClaim">
	<h1><span>P</span>arty<span>R</span>un*</h1>
	<h2>join da f___king game, running awesomeness</h2>
</div>
{{outlet}}
<footer><p>*proudly developed by KillDaRafalution® on our company laptops Hey!</p></footer>